.od_share{
	height: 90px;
	margin: 20px 0 0;
}
.od_share li{
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	background: none;
}
.od_share .facebook_like{
	width: 50px;
	overflow: hidden;
}

.od_share .facebook .fb_share_no_count {
	display: block;
}
